[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PND.heter.cluster"]
	path = PND.heter.cluster
	url = https://github.com/xliu12/pnd.heter
	subdir = PND.heter.cluster
